# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment settings
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Ignore the virtual environment
/doctorai
anupDoc.md
.env
/agent_workspace
reports/*